{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "eqeqeq": "error"
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"]
}
